{% extends "layout.html" %}
{% block content %}
<div style="background-color: #f5fff5; padding: 10px">
    <table class="sheets">
        <thead>
            <tr>
                <th>ID</th>
                <th>Лист</th>
            </tr>
            <colgroup>
                <col width="">
            </colgroup>
        </thead>

        <tbody>
            {% for sheet in sheets %}
            <tr>
                <td>{{ sheet.id }}</td><td><a href="/sheet/{{ sheet.id }}">{{ sheet.description }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
