{% extends "layout.html" %}
{% block content %}
<div style="background-color: #f5fff5; padding: 10px">
    <table style="border-collapse: collapse; border-width: 1px; border-spacing: 0px; border-color: #000000">
        <thead>
            <tr>
                <th>Sheet</th><th>Link</th>
            </tr>
        <tbody>
            <tr>
                <td>Sheet1</td><td>Link1</td>
                <td>Sheet2</td><td>Link2</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
