{% extends "layout.html" %}
{% block content %}
<div style="background-color: #f5f5f5; padding: 10px">
    <div id="add_member_form">
    <form action="" method="post">
        <div>
        {{ add_member_form.display_name.label }}: {{ add_member_form.display_name(placeholder="Иван Человеков") }}
        </div>
        {{ add_member_form.csrf_token }}
    </form>
    </div>
    <table>
        {% for member in sheet_members %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.display_name }}</td>
        </tr>
        {% endfor %}
    </table>

    <div style="padding: 5px">&nbsp;</div>
    <div id="add_spending_form">
    <form action="" method="post">
        <div>
            {{ add_spending_form.description.label }}: {{ add_spending_form.description(placeholder="Шаурма в ларьке") }}
        </div>
        <div>
            {{ add_spending_form.amount.label }}: {{ add_spending_form.amount(placeholder="105") }}
        </div>
        <!--
        <div>
            {{ add_spending_form.amount.label }}: {{ add_spending_form.amount(placeholder="105") }}
        </div>
    -   -->
        {{ add_spending_form.csrf_token }}
    </form>
    </div>

</div>
{% endblock %}

