{% extends "layout.html" %}
{% block content %}
<div style="background-color: #f5fff5; padding: 10px">
    <table style="border-collapse: collapse; border-width: 1px; border-spacing: 0px; border-color: #000000">
        <thead>
            <tr>
                <th>Sheet</th><th>Link</th>
            </tr>
        <tbody>
            {% for sheet in sheets %}
            <tr>
                <td>{{ sheet.id }}</td><td>{{ sheet.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
