{% extends "layout.html" %}
{% block content %}
<div style="background-color: #f5f5f5; padding: 10px">
    <form action="" method="post">
        <div id="add_member_form" class="form-group">
            {{ add_member_form.display_name.label }}
            {{ add_member_form.display_name(placeholder="Иван Человеков", class="form-control") }}
        </div>
        <button name="add_member_form" type="submit" class="btn btn-primary">Добавить</button>
        {{ add_member_form.csrf_token }}
    </form>

    <div class="sep">&nbsp;</div>

    <table class="table table-sm">
        <thead class="thead-light">
            <th>ID</th>
            <th>Имя</th>
        </thead>
        {% for member in sheet_members %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.display_name }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="sep">&nbsp;</div>

    <form action="" method="post">
        <div class="form-group">
        {{ add_spending_form.description.label }}
        {{ add_spending_form.description(placeholder="Шаурма в ларьке", class="form-control") }}
        </div>
        <div class="form-group">
        {{ add_spending_form.amount.label }}
        {{ add_spending_form.amount(placeholder="105.2", class="form-control") }}
        </div>
        <div class="form-group">
        {{ add_spending_form.member_id.label }}
        {{ add_spending_form.member_id(class="form-control") }}
        </div>
        <button
            name="add_spending_form"
            type="submit"
            class="btn btn-primary"
        >Добавить</button>
        {{ add_spending_form.csrf_token }}
    </form>

    <div class="sep">&nbsp;</div>

    <table class="table table-sm">
        <thead>
            <th>ID</th>
            <th>Описание</th>
            <th>Сколько</th>
            <th>Когда</th>
            <th>Кто потратил</th>
            <th>Неполное участие</th>
        </thead>
        {% for spending in sheet_spendings %}
        <tr>
            <td>{{ spending.id }}</td>
            <td>{{ spending.description }}</td>
            <td>{{ spending.amount }}</td>
            <td>{{ spending.date_time.strftime("%Y.%m.%d %H:%M") }}</td>
            <td>{{ spending.member.display_name }}</td>
            <td>
                {% for pm in sheet_spm_by_spending[spending.id] %}
                    {{ pm.member.display_name }}: {{ pm.weight }}<br/>
                {% endfor %}
                <form action="" method="post" class="form-inline">
                    <input type="hidden" name="spm"/>
                    <input type="hidden" name="spending_id" value="{{ spending.id }}" />
                    <div class="form-group">
                        {{ add_spm_form.weight.label }}&nbsp;
                        {{ add_spm_form.weight(placeholder="0.0", class="form-control fc-weight") }}
                    </div>
                    &nbsp;
                    <div class="form-group">
                        {{ add_spm_form.member_id(class="form-control") }}
                    </div>
                    &nbsp;
                    <button
                        name="add_spm_form"
                        type="submit"
                        class="btn btn-primary"
                    >Добавить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

