div.sep {
    padding: 1px;
}

table {
    border-collapse: collapse;
    border-width: 1px;
    border-spacing: 0px;
    border-color: #000000;
    padding: 3px;
}

table.sheets {
    /* customize it */
}

.fc-weight {
    width: 3.5em !important;
}

.member {
    background-color: #afafaf;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    border: 1px solid #7f7f7f;

}

.member.selected {
    font-weight: bold;
    background-color: #ffafaf;
}

.members {
    padding-top: 5px;
    padding-bottom: 5px;
}