body {
    padding: 10px;
}
div.member-list {
    margin-top: 5px;
}
div.form {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input.transaction-title {
    width: 20%;
}

.input-sm {
    height: 20px;
    padding: 0px 2px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}

.input-sm.amount {
    width: 3.5em;
}
.input-sm.amount.positive {
    background-color: #eeffee;
}
.input-sm.amount.negative {
    background-color: #ffeeee;
}

.input-sm.spent {
    width: 2em;
}
.input-sm.spent.no-use {
    background-color: #ccffcc;
}
.input-sm.spent.lower-use {
    background-color: #ffffcc;
}
.input-sm.spent.normal-use {
    background-color: #ffffff;
}
.input-sm.spent.high-use {
    background-color: #ffcccc;
}

.form-inline input.form-control.transaction-description {
    width: 30em;
}

table {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
table > tbody > tr > td {
    padding: 2px 2px;
}

input[type="checkbox"] {
    margin: 2px 0 0;
}

.form-inline {
    margin-bottom: 10px;
}

.form-inline .form-control.rate {
    width: 60px;
}
.form-inline .form-control.currency-select {
    height: 20px;
}


.sheet-link {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

tr.info > td {
    background-color: #fcf8e3;
}

div.copyright {
    margin-top: 20px;
    border-top: 1px dotted #9f9f9f;
    padding: 3px;
}

div.tip {
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.tip.bg-warning {
    border: 1px solid #ddddaa;
}

div.tip.bg-info {
    border: 1px solid #aaaadd;
}

th.non-member {
    color: #337ab7;
}

.form-inline label {
    margin-top: 5px;
    margin-bottom: 0px;
}

div.transactions {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    margin: 5px 0px;
}

table.transactions {
    table-layout: fixed;
    margin-top: 10px;
    margin-bottom: 0px;
}

th.transaction-description,
td.transaction-description {
    width: 19%;
}

th.transaction-currency,
td.transaction-currency {
    width: 5%;
}

th.transaction-stats,
td.transaction-stats {
    width: 7%;
}
